* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: rgb(0, 0, 0);
    font-family: 'JetBrains Mono', monospace;
}

main, section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;     
    justify-content: flex-start; 
    text-align: left;            

    padding-left: 10vw;          
    padding-right: 10vw;          
    padding-top: 8vh;            
    z-index: 1;
}

a {
    color: antiquewhite;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: grey;
    text-shadow: darkslategray;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(134, 177, 212);
}

.mini-title {
    font-size: 2rem;
    font-weight: normal;
    color: rgb(105, 157, 199);
}

.subtitle {
    font-size: 1rem;
    font-weight: normal;
    color: azure;
}

.project-links {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  margin-top: 2rem;
}

a .prompt {
    animation: none;
}

.prompt {
    color: darkseagreen;
  margin-right: 0.5rem;
  opacity: 1;
  font-weight: bold;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.social-links {
  display: flex;
  flex-direction: row;     
  justify-content: center; 
  gap: 2rem;               
  margin-top: 1rem;       
  margin-bottom: 4rem;     
  flex-wrap: wrap;          
}
