* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: rgb(0, 0, 0);
    font-family: 'JetBrains Mono', monospace;
}

main, section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;      /* alinha os itens à esquerda */
    justify-content: flex-start;  /* começa do topo */
    text-align: left;             /* texto à esquerda */

    padding-left: 10vw;           /* começa mais pro centro da tela */
    padding-right: 10vw;          /* opcional: margem direita igual */
    padding-top: 8vh;            /* distância do topo da tela */

    z-index: 1;
}

a {
    color: antiquewhite;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: grey;
    text-shadow: darkslategray;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: steelblue;
}

.mini-title {
    font-size: 2rem;
    font-weight: lighter;
    color: steelblue;
}

.subtitle {
    font-size: 1rem;
    font-weight: normal;
    color: azure;
}

.project-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* espaçamento entre os links */
  margin-top: 2rem;
}

a .prompt {
    animation: none;
}

.prompt {
    color: darkseagreen;
  margin-right: 0.5rem;
  opacity: 1;
  font-weight: bold;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.social-links {
  display: flex;
  flex-direction: row;      /* links lado a lado */
  justify-content: center;  /* centraliza horizontalmente */
  gap: 2rem;                /* espaçamento entre os links */
  margin-top: 1rem;         /* aproxima dos projetos */
  margin-bottom: 4rem;      /* distância do rodapé ou fim da tela */
  flex-wrap: wrap;          /* permite quebrar linha em telas menores */
}
